{% extends "layout" %}
{% block content %}
    <style type="text/css">
        .err-dv{height: 200px;text-align: center}
    </style>
    <div class="err-dv">
        <h1>Offline</h1>
        <p>We are currently updating our system to serve you better, please try after sometime.</p>
    </div>
{% endblock %}