{% extends "layout" %}
{% block content %}
    <style type="text/css">
        .err-dv{height: 200px;text-align: center}
    </style>
    <div class="err-dv">
        <h1>404</h1>
        <p>Page you are looking for does not exist. Plese recheck your URL</p>
    </div>
{% endblock %}